/* Carousel.css */

.carousel-slide {
  position: relative;
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  text-align: center;
}

.carousel-content h3 {
  margin: 0;
  font-size: 24px;
}

.carousel-content p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.4;
}

.carousel-content a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.carousel-content a:hover {
  text-decoration: underline;
}
